.bc:hover {
  /* box-shadow: 0px 5px 10px #00000030;
  cursor: pointer;
  border: none; */
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2)
}

.bgImagen {
  /* background-image: url("vectorcontacto2.jpg"); */
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
  margin-top: 100px;
}

.bc {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  border-radius: 10px;
  width: 400px;
  margin-top: -420px;
  transition: 0.5s all;
}


.container {
  display: flex;
  position: relative;
  margin-top: -100px;
  padding-left: 850px;
  flex-direction: column;
  transition: all 0.25s ease;
}

.animate {
  display: flex;
  position: relative;
  right: 750px;
  top: 100px;
}

.title {
  color: #1d3557;
  padding: 20px;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.msj {
  font-family: Tahoma, sans-serif;
  margin-top: -25px;
}

.msj2 {
  font-family: Tahoma, sans-serif;
  margin-top: -5px;
}

.form {
  display: grid;
  margin-top: 30px;
  width: 400px;
  height: 420px;
  background-color: white;
  color: #34495e;
  border-radius: 10px;
}

.input {
  font-family: Tahoma, sans-serif;
  font-size: 15px;
  border: none;
  outline: none;
  border-bottom: solid 1px #9ca3af;
  padding: 5px;
  width: 280px;
  background-color: white;
}

.button {
  margin-bottom: 30px;
  margin-left: 115px;
  border-radius: 50px;
  padding: 2px;
  background-color: #1d3557;
  color: #f1faee;
  font-weight: bold;
  width: 180px;
  font-size: 1.2rem;
}

.button:hover {
  background-color: #03182c;
  color: #f1faee;
}

.Location {
  width: 50%;
  height: 600px;
  float: left;
  margin-right: 30px;
  overflow: hidden;
  background: #00000030;
}
