*{
margin: 0;
}
.div1{
display: flex;
justify-content:center;
align-items: center;
min-width: 200px;
min-height: 230px;
max-height: 230px;
}

.img{
height: auto;
width: auto;
max-width: 230px;
max-height: 230px;
border-radius: 20px;
display: flex;
justify-content:center;
align-items: center;

}

.container{
    height: 450px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    border: 2px solid rgba(0, 0, 0, 0.466); ;
    justify-content:center;
    align-items: center;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
}
.div2{
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display:flex;
    margin-top: 15px;
    font-family: "Mulish";
    font-weight: Regular;
    font-size: 25px;
   
}

.name{
    margin-top: 20px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display:flex;
    width: 280px;
    height: 60px;
    font-size: 20px;
    font-family: "Mulish";
    font-weight: ExtraBold;
    margin: 10px;
    text-align: center;
}
.h1{
    justify-content: center;
    align-items: center;
    display:flex;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star{
    margin-top: 15px;
  font-size: 20px;
  justify-content: center;
    align-items: center;
    display:flex;
}

.div3{
    margin-top: 15px;
    font-size: 20px;
    border-radius: 5px;
    padding-bottom: 100px ;
}
.div3 {
    border-color: #f1c40f;
    color: rgb(56, 56, 56);
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .div3:hover {
    background-position: 0;
  }