@media (min-width: 1601px) {
  .conPriceMin {
    display: flex;
    position: relative;
    left: 150px;
    top: -6.7vw;
  }

  .conPriceMax {
    display: flex;
    position: relative;
    left: 175%;
    top: -10.7vw;
  }

  .inputContainer {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
  }

  .titleFilterPrice {
    width: 100%;
    height: 10px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .inputPrice {
    width: 90px;
    height: 20px;
    outline: 0;
    border-radius: 12px;
    padding: 0px 10px 0 10px;
    font-size: 0.7em;
    transition: all 0.25s ease;
    color: rgb(99, 99, 99);
    border: solid 1px #ccc;
  }

  .inputPrice:hover {
    box-shadow: 0 0px 0px #00000030;
    border: solid 1px #ccc;
  }

  .has {
    font-weight: normal;
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    position: relative;
    left: 148%;
    top: -8.3vw;
  }

  .conFil {
    display: flex;
    position: relative;
    left: 260%;
    top: -13.7vw;
  }

  .fil {
    width: 42%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #202020;
    border-radius: 10px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
  }

  .fil:hover {
    box-shadow: 10 10px 10px #320f6b30;
    transition: all 0.25s ease;
    background-color: #0b135e;
    color: white;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .conPriceMin {
    display: flex;
    position: relative;
    left: 150px;
    top: -6.7vw;
  }

  .conPriceMax {
    display: flex;
    position: relative;
    left: 175%;
    top: -10.7vw;
  }

  .inputContainer {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
  }

  .titleFilterPrice {
    width: 100%;
    height: 10px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .inputPrice {
    width: 80%;
    height: 30px;
    outline: 0;
    border-radius: 12px;
    padding: 0px 10px 0 10px;
    font-size: 1em;
    transition: all 0.25s ease;
    color: rgb(99, 99, 99);
    border: solid 1px #ccc;
  }

  .inputPrice:hover {
    box-shadow: 0 0px 0px #00000030;
    border: none;
    border: solid 1px #ccc;
  }

  .has {
    font-weight: normal;
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    position: relative;
    left: 148%;
    top: -8.3vw;
  }

  .conFil {
    display: flex;
    position: relative;
    left: 260%;
    top: -13.7vw;
  }

  .fil {
    width: 42%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #202020;
    border-radius: 10px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
  }

  .fil:hover {
    box-shadow: 10 10px 10px #320f6b30;
    transition: all 0.25s ease;
    background-color: #0b135e;
    color: white;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .conPriceMin {
    display: flex;
    position: relative;
    left: 150px;
    top: -6.7vw;
  }

  .conPriceMax {
    display: flex;
    position: relative;
    left: 175%;
    top: -10.7vw;
  }

  .inputContainer {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
  }

  .titleFilterPrice {
    width: 100%;
    height: 10px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-left: 10px;
  }

  .inputPrice {
    width: 80%;
    height: 30px;
    outline: 0;
    border-radius: 12px;
    padding: 0px 10px 0 10px;
    font-size: 1em;
    transition: all 0.25s ease;
    color: rgb(99, 99, 99);
    border: solid 1px #ccc;
  }

  .inputPrice:hover {
    box-shadow: 0 0px 0px #00000030;
    border: none;
    border: solid 1px #ccc;
  }

  .has {
    font-weight: normal;
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    position: relative;
    left: 148%;
    top: -8.3vw;
  }

  .conFil {
    display: flex;
    position: relative;
    left: 260%;
    top: -13.7vw;
  }

  .fil {
    width: 42%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #202020;
    border-radius: 10px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
  }

  .fil:hover {
    box-shadow: 10 10px 10px #320f6b30;
    transition: all 0.25s ease;
    background-color: #0b135e;
    color: white;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .conPriceMin {
    display: flex;
    position: relative;
    left: 150px;
    top: -6.7vw;
  }

  .conPriceMax {
    display: flex;
    position: relative;
    left: 175%;
    top: -10.7vw;
  }

  .inputContainer {
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
  }

  .titleFilterPrice {
    width: 120px;
    height: 20px;
    float: left;
    font-size: 1.1vw;
    font-weight: 500;
    margin-top: -22px;
  }

  .inputPrice {
    width: 80%;
    height: 25px;
    outline: 0;
    border-radius: 12px;
    padding: 0px 10px 0 10px;
    font-size: 0.8em;
    transition: all 0.25s ease;
    color: rgb(99, 99, 99);
    border: solid 1px #ccc;
  }

  .inputPrice:hover {
    box-shadow: 0 0px 0px #00000030;
    border: none;
    border: solid 1px #ccc;
  }

  .has {
    font-weight: normal;
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    position: relative;
    left: 148%;
    top: -8.3vw;
  }

  .conFil {
    display: flex;
    position: relative;
    left: 260%;
    top: -13.7vw;
  }

  .fil {
    width: 42%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #202020;
    border-radius: 20px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
  }

  .fil:hover {
    box-shadow: 10 10px 10px #320f6b30;
    transition: all 0.25s ease;
    background-color: #0b135e;
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .conPriceMin {
    display: flex;
    position: relative;
    left: 150px;
    top: -6.7vw;
  }

  .conPriceMax {
    display: flex;
    position: relative;
    left: 175%;
    top: -10.7vw;
  }

  .inputContainer {
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
  }

  .titleFilterPrice {
    width: 120px;
    height: 20px;
    float: left;
    font-size: 1.6vw;
    font-weight: 500;
    margin-bottom: -22px;
  }

  .inputPrice {
    width: 90px;
    height: 20px;
    outline: 0;
    border-radius: 12px;
    padding: 0px 10px 0 10px;
    font-size: 0.8em;
    transition: all 0.25s ease;
    color: rgb(99, 99, 99);
    border: solid 1px #ccc;
  }

  .inputPrice:hover {
    box-shadow: 0 0px 0px #00000030;
    border: none;
    border: solid 1px #ccc;
  }

  .has {
    font-weight: normal;
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    position: relative;
    left: 148%;
    top: -8.3vw;
  }

  .conFil {
    display: flex;
    position: relative;
    left: 260%;
    top: -13.7vw;
  }

  .fil {
    width: 42%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #202020;
    border-radius: 20px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
  }

  .fil:hover {
    box-shadow: 10 10px 10px #320f6b30;
    transition: all 0.25s ease;
    background-color: #0b135e;
    color: white;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .conPriceMin {
    display: flex;
    position: relative;
    left: 150px;
    top: -6.7vw;
  }

  .conPriceMax {
    display: flex;
    position: relative;
    left: 175%;
    top: -10.7vw;
  }

  .inputContainer {
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
  }

  .titleFilterPrice {
    width: 120px;
    height: 20px;
    float: left;
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: -22px;
  }

  .inputPrice {
    width: 90px;
    height: 20px;
    outline: 0;
    border-radius: 12px;
    padding: 0px 10px 0 10px;
    font-size: 0.8em;
    transition: all 0.25s ease;
    color: rgb(99, 99, 99);
    border: solid 1px #ccc;
  }

  .inputPrice:hover {
    box-shadow: 0 0px 0px #00000030;
    border: none;
    border: solid 1px #ccc;
  }

  .has {
    font-weight: normal;
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    position: relative;
    left: 148%;
    top: -8.3vw;
  }

  .conFil {
    display: flex;
    position: relative;
    left: 260%;
    top: -13.7vw;
  }

  .fil {
    width: 42%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #202020;
    border-radius: 20px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
  }

  .fil:hover {
    box-shadow: 10 10px 10px #320f6b30;
    transition: all 0.25s ease;
    background-color: #0b135e;
    color: white;
  }
}

@media (max-width: 575px) {
  .conPriceMin {
    display: flex;
    position: relative;
    left: 150px;
    top: -6.7vw;
  }

  .conPriceMax {
    display: flex;
    position: relative;
    left: 175%;
    top: -10.7vw;
  }

  .inputContainer {
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
  }

  .titleFilterPrice {
    display: none;
  }

  .inputPrice {
    width: 90px;
    height: 20px;
    outline: 0;
    border-radius: 12px;
    padding: 0px 10px 0 10px;
    font-size: 0.8em;
    transition: all 0.25s ease;
    color: rgb(99, 99, 99);
    border: solid 1px #ccc;
  }

  .inputPrice:hover {
    box-shadow: 0 0px 0px #00000030;
    border: none;
    border: solid 1px #ccc;
  }

  .has {
    font-weight: normal;
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    position: relative;
    left: 148%;
    top: -8.3vw;
  }

  .conFil {
    display: flex;
    position: relative;
    left: 260%;
    top: -13.7vw;
  }

  .fil {
    width: 42%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #202020;
    border-radius: 20px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
  }

  .fil:hover {
    box-shadow: 10 10px 10px #320f6b30;
    transition: all 0.25s ease;
    background-color: #0b135e;
    color: white;
  }
}