.body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  
}

.left {
position: absolute;
height: 608px;
width: 678px;
left:40px;
top:40px;
/* background-image: url(""); */
background-color: thistle;
}

.right {
  position: absolute;
  height: 608px;
  width: 678px;
  right: 40px;
  top:40px;
  text-align: center;
}
