.body {
  background-color: rgb(82, 82, 82);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 35vh;
  padding-top: 0px;
}

.titulo {
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-right: 1000px;
  padding-top: 30px;
}

.titulo2 {
  font-size: 30px;
  color: rgb(241, 255, 180);
  font-weight: bold;
  padding-right: 850px;
  margin-top: -44px;
}

.eslogan {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  padding-right: 925px;
  margin-top: -4px;
}

.reservaTuCancha {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  padding-right: 350px;
  margin-top: -50px;
}

.textReserva {
  font-size: 14px;
  color: rgb(213, 255, 145);
  font-weight: normal;
  padding-right: 350px;
  margin-top: -4px;
}

.clubes {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  padding-left: 900px;
  margin-top: -110px;
}

.textClubes {
  font-size: 14px;
  color: rgb(213, 255, 145);
  font-weight: normal;
  padding-left: 900px;
  margin-top: -4px;
}

.ubicacion {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  padding-left: 220px;
  margin-top: -110px;
}

.textUbicacion {
  font-size: 14px;
  color: rgb(213, 255, 145);
  font-weight: normal;
  padding-left: 220px;
  margin-top: -4px;
}

.copyright {
  background-color: rgb(31, 31, 31);
  width: 100%;
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  padding-left: 600px;
  margin-top: 70px;
}
