.NewsletterContainerCa {
  width: 30vw;
  height: 220px;
  margin: 100px 0;
  padding: 20px 0;
  display: flex;
  position: absolute;
  top: 264%;
  left: 65%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.NewsletterTitleCa {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  color: #fff;
}

.FormNewsLetterCa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.FormNewsLetterCa form {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.NewsletterInputCa {
  width: 30vw;
  height: 30px;
  padding: 10px;
  justify-content: center;
  position: absolute;
  border: none;
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.NewsletterInputCa:focus {
  outline: solid 1px #f00;
}

.ButtonNewsletterCa {
  width: 120px;
  height: 35px;
  top: 144px;
  justify-content: center;
  position: absolute;
  right: 10%;
  border: none;
  background: #000000;
  color: #fff;
  border-radius: 5px;
  margin: 20px 0;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s all;
  clear: both;
}

.ButtonNewsletterCa:hover {
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .NewsletterTitleCa {
    font-size: 22px;
    font-weight: bold;
  }

  .NewsletterSubTitleCa {
    font-size: 14px;
    color: white;
  }

  .FormNewsLetterCa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .FormNewsLetterCa form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .NewsletterInputCa {
    width: 80%;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 1vw;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  .ButtonNewsletterCa {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border: none;
    background: #000000;
    color: #fff;
    border-radius: 5px;
    border-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s all;
    clear: both;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .NewsletterContainerCa {
    width: 0vw;
    max-height: 250px;
    margin: 50px 0;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #cccccc40;
  }

  .NewsletterTitleCa {
    font-size: 36px;
    font-weight: bold;
  }

  .NewsletterSubTitleCa {
    font-size: 20px;
  }

  .FormNewsLetterCa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .FormNewsLetterCa form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .NewsletterInputCa {
    width: 50%;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  .ButtonNewsletterCa {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border: none;
    background: #000000;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s all;
    clear: both;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .NewsletterTitleCa {
    font-size: 30px;
    margin-top: 30px;
  }

  .NewsletterSubTitleCa {
    font-size: 16px;
  }

  .NewsletterContainerCa {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #cccccc40;
  }

  .NewsletterInputCa {
    width: 55vw;
    height: 30px;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  .FormNewsLetterCa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .FormNewsLetterCa form {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 575px) {
  .NewsletterContainerCa {
    min-height: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #cccccc40;
  }

  .NewsletterTitleCa {
    font-size: 28px;
  }

  .NewsletterSubTitleCa {
    font-size: 16px;
  }

  .NewsletterInputCa {
    width: 60vw;
    height: 30px;
    font-size: 3vw;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  .ButtonNewsletterCa {
    width: 80px;
    height: 30px;
  }
}
