.bgWe {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.containerProducModal {
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: -275px;
  padding-left: 10%;
}

.prodModal1 {
  width: 20vw;
  height: 20vw;
}

.prodModal2 {
  width: 20vw;
  height: 20vw;
}

.prodModal3 {
  width: 20vw;
  height: 20vw;
}

.ord {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -270px;
  right: 80px;
  font-size: 1.5rem;
  font-weight: bold;
}

.org {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -270px;
  left: 0px;
  font-size: 1.5rem;
  font-weight: bold;
}

.man {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -270px;
  left: -30px;
  font-size: 1.5rem;
  font-weight: bold;
}

.welcomeModal {
  width: 30vw;
  height: 30vw;
  display: flex;
  position: relative;
  left: 35%;
  top: -20vh;
}

.WeContainer {
  background-color: rgb(0, 56, 82);
  width: 100vw;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  padding: 50px;
  top: -280px;
  color: #fff;
}

.Style {
  width: 50vw;
  max-height: 80vh;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 56, 82);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.WeContainer h1 {
  font-size: 2vw;
  font-weight: bold;
}

.WeContainer p {
  font-size: 1.3vw;
}

.TextModal p {
  text-align: center;
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
}

.PortadaModal {
  width: 100%;
  height: 250px;
  margin: 20px 0;
  background-image: url(../../Resources/portadaModal.png);
  background-size: cover;
  background-position: center center;
  background-color: rgb(0, 0, 0);
}

.ButtonModal {
  width: 25%;
  min-height: 4vh;
  font-size: 2.5vw;
  background: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
  margin-top: 25px;
  position: relative;
  top: -1vh;
}

@media (min-width: 992px) and (max-width: 1399px) {
  .Style {
    width: 50vw;
    max-height: 80vh;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  .WeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
  }

  .WeContainer h1 {
    font-size: 36px;
    font-weight: bold;
  }

  .WeContainer p {
    width: 80%;
    font-size: 20px;
  }

  .TextModal p {
    text-align: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }

  .ButtonModal {
    min-width: 25%;
    min-height: 25px;
    font-size: 16px;
    background: black;
    color: white;
    border-radius: 10px;
    margin-top: 25px;
    position: relative;
    top: -1vh;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .Style {
    width: 70vw;
    max-height: 80vh;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  .WeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 30px 0;
    padding: 20px;
  }

  .WeContainer h1 {
    font-size: 36px;
    font-weight: bold;
  }

  .WeContainer p {
    width: 70%;
    font-size: 20px;
  }

  .TextModal p {
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }

  .ButtonModal {
    width: 25%;
    min-height: 25px;
    font-size: 16px;
    background: black;
    color: white;
    border-radius: 10px;
    margin-top: 35px;
    position: relative;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .Style {
    width: 70vw;
    max-height: 75vh;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  .WeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 20px;
  }

  .WeContainer h1 {
    font-size: 28px;
    font-weight: bold;
  }

  .WeContainer p {
    width: 70%;
    font-size: 16px;
  }

  .PortadaModal {
    width: 100%;
    min-height: 130px;
    position: relative;
    margin-top: 10px;
    background-size: cover;
    background-position: center center;
    background-color: black;
  }

  .TextModal p {
    font-size: 1rem;
    line-height: 22px;
    text-align: center;
    position: relative;
    top: -17px;
    margin-bottom: 2vh;
  }

  .TitleModal h1 {
    font-size: 2rem;
  }

  .ButtonModal {
    width: 150px;
    min-height: 25px;
    font-size: 2.5vw;
    background: black;
    color: white;
    border-radius: 10px;
    margin-top: 25px;
    position: relative;
    top: -2vh;
  }
}

@media (max-width: 575px) {
  .WeContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
  }

  .Style {
    width: 80vw;
    max-height: 500px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  .PortadaModal {
    width: 100%;
    min-height: 50px;
    height: 130px;
    position: relative;
    margin-top: 5px;
    background-size: cover;
    background-position: center center;
    background-color: black;
  }

  .TextModal p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    position: relative;
    top: -20px;
    margin-bottom: 10px;
  }

  .TitleModal h1 {
    font-size: 28px;
  }

  .WeContainer h1 {
    font-size: 28px;
    font-weight: bold;
  }

  .WeContainer p {
    width: 85%;
    font-size: 16px;
  }

  .BtnUsModal {
    width: 100px;
    height: 30px;
  }

  .ButtonModal {
    width: 120px;
    height: 30px;
  }
}
