.image {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.container {
  width: 50%;
  margin-top: 30px;
}

.tittle {
  /* display: flex; */
  position: relative;
  justify-content: center;
  align-items: center;
  padding-left: 65px;
  color: rgb(0, 0, 0);
  top: 100px;
}