.container{
    border: 1px solid #D0D0D0 ; 
    border-radius:5px; 
    height: 1300px;
    width: 2000px;
    margin: 50px 100px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
}
.todo{
    display: flex;
    justify-content: center;
    background-color: #D0D0D0
}
.img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;;
    margin-top: 120px;
    margin-bottom: 35px
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.div2{
   /* margin:35px; */
 margin-left: 35px;

}
.derecho{
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.izq{
    grid-area: 1 / 2 / 2 / 3;
}

.izq{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
.name{
    font-family: "Mulish";
    font-weight: ExtraBold;
    font-size:35px;  
    display: flex;
    justify-content: left;
    align-items: right;
    margin-bottom: 7px; 

}
.start{
    font-size:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; 
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px; 
    border-bottom: 3px solid rgba(124, 123, 123, 0.342);
    margin-bottom: 200px; 
    padding-bottom: 120px;
    font-family: "Mulish";
    font-weight: Regular;
}
.descrip{
    padding-bottom: 50px; 
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mulish";
    font-weight: Regular;
}

.pago{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(124, 123, 123, 0.342);
    border-radius: 15px;
    margin: 35px;
    padding: 10px;
    font-size: 25px;
}

.bnt{
    font-family: "Mulish";
    font-weight: ExtraBold;
    padding: 8px;
    border: 4px solid #D0D0D0;
    background-color: #ADD8FF;
    width: 390px;
    border-radius: 7px;
    font-size:40px;
    height: auto;
}
.div3{
    margin:35px; 
    padding-left: 140px;
}