    .container {
        border: 1px solid #a8a7a7;
        border-radius: 8px;
        height: 80%;
        width: auto;
        margin: 3% 10%;
        padding: 1%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .todo {
        display: flex;
        justify-content: center;
        background-color: white
    }
    
    .derecho {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
    }
    
    .izq {
        display: flex;
        align-items: left;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    .div1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2%;
    }
    
    .name {
        font-family: "Mulish";
        font-weight: ExtraBold;
        margin-bottom: 7px;
        font-size: 2.8em;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .start {
        margin: 10px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .colorPrecio {
        font-family: "Mulish";
        font-weight: ExtraBold;
        font-size: 30px;
    }
    
    .price {
        width: 100%;
        font-size: 45px;
        border-bottom: 3px solid rgba(124, 123, 123, 0.342);
        font-family: "Mulish";
        font-weight: Regular;
        color: #003f91;
    }
    
    .precio {
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        margin: 2%;
        padding-bottom: 150px;
        padding: 2%;
    }
    
    .descrip {
        border-radius: 10px;
        max-height: 40%;
        max-width: 100%;
        padding-bottom: 50px;
        margin-top: 10%;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-family: "Mulish";
        font-weight: Regular;
    }
    
    .pago {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid rgba(124, 123, 123, 0.342);
        border-radius: 10px;
        padding: 4%;
        margin: 2%;
        margin-bottom: 50px;
        box-sizing: border-box;
    }
    
    .bnt {
        font-family: "Mulish";
        font-weight: ExtraBold;
        padding: 8px;
        border: 4px solid #D0D0D0;
        background-color: #003f91;
        ;
        color: rgb(255, 255, 255);
        width: 85%;
        border-radius: 7px;
        font-size: 35px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .div3 {
        padding: 2%;
        margin: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .div4 {
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .div5 {
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cart {
        font-family: "Mulish";
        font-weight: ExtraBold;
        padding: 8px;
        border: 4px solid #D0D0D0;
        background-color: #003f91;
        ;
        width: 70px;
        border-radius: 7px;
        font-size: 40px;
        height: auto;
    }
    
    @media screen and (max-width: 900px) {
        .div2 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .name {
            font-size: 2rem;
            height: 15%;
            background-color: #003f91;
            width: 80%;
        }
        .bnt {
            font-size: 1.5rem;
            margin-top: 15px;
            margin-bottom: 15px;
            color: yellow
        }
        .colorPrecio {
            font-size: 1.5rem;
        }
        .price {
            font-size: 2rem;
        }
    }
    
    @media screen and (max-width: 750px) {
        .container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }