.nav {
  background-color: rgb(252, 252, 252);
  position: fixed;
  width: 1383px;
  z-index: 50;
}

.Nav {
  background-color: rgb(31, 31, 31);
  position: fixed;
  width: 1383px;
  opacity: 0.4;
  z-index: 50;
}

.bgHome {
  background-color: rgb(34, 34, 34);
  height: 600px;
  padding-top: 200px;
}

.hp {
  display: grid;
  position: right;
  width: 300%;
  height: 78.5vh;
  margin-top: -120px;
}
