.nav {
  background-color: rgb(252, 252, 252);
  position: fixed;
  width: 1740px;
  z-index: 50;
}

.Nav {
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 1383px;
  opacity: 0.9;
  z-index: 50;
}

.bghome {
  background-color: rgb(255, 255, 255);
  height: 665px;
}

.bgCarousel {
  background-color: rgb(83, 83, 83);
  height: 600px;
  padding-top: 200px;
}

.hp {
  display: grid;
  position: right;
  width: 300%;
  height: 78.5vh;
  margin-top: -120px;
}