.logo {
  width: 20vw;
  height: 65px;
  float: left;
}

.logo:hover {
  cursor: pointer;
}

.NavContainer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.sticky {
  background-color: #ffffffd8 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
  font-size: 15px !important;
}

.nav {
  background-color: #8b8b8bd8 !important;
  transition: all 0.8s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
  font-size: 15px !important;
  color: rgb(0, 0, 0);
}
