.body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
  }
  
.left {
  position: absolute;
  height: 688px;
  width: 698px;
  background-image: url("");
  background-color: thistle;
}

.right {
    position: absolute;
    height: 688px;
    width: 698px;
    right: 0px;
    text-align: center;
  }
  