.body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  
.Left {
  position: absolute;
  height: 650px;
  width: 780px;
  left: 60px;
  right: 60px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 12px;
  background-image: url("");
}

.Right {
    position: absolute;
    height: 650px;
    width: 720px;
    right: 60px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
  