.container {
    display: flex;
}

.sidebar {
    flex: 1;
}

.body {
    flex: 4;
}

.sidebar {
    flex: 1;
    background: rgb(177, 177, 177);
    height: 1210px;
    border-width: 4px;
    border-color: rgb(165, 165, 165);

}

.btnActualizar {
    background-color: rgb(131, 245, 131);
    width: 84px;
    height: 25px;
    color: honeydew;
    border-radius: 23%;
    border-width: 1px;
    border-color: rgb(149, 207, 149);
    padding-bottom: 10px;
}

.btnActualizar:hover {
    background-color: rgb(219, 248, 219);
    width: 84px;
    height: 25px;
    color: rgb(4, 245, 4);
    border-radius: 13%;
    border-width: 2px;
    border-color: rgb(0, 255, 0);
}