.paginacion ul {
    list-style: none;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


.paginacion ul li{
    display: inline-block;
    margin-right:15px;
}

.paginacion ul li button{
    position: relative;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: rgb(247, 244, 244);
    font-size: 14px;
    font-family: 'Architects Daughter', cursive;
    background-color: rgba(145, 145, 145, 0.514); ;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid rgba(24, 24, 24, 0.514);
    font-weight: 1000;
    border-radius: 5px;
    
}
.paginacion ul li button:hover{
    background-color: rgba(253, 253, 253, 0.418);
    box-shadow: rgb(12, 12, 12), 0 0 20 rgb(255, 255, 255); 
    color: white;
   
}